{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Published with"}} <a href="https://github.com/REmango" target="_blank" rel="noopener">REmango</a></span>
    </p>

    <p class="m-footer-copyright jslicense">
      <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript license information"}}</a>
    </p>
  </div>
</footer>
